* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and borders don't affect the width */
  }
  
  .dashboard {
    width: 100%;
   
    min-height: 100vh; /* Ensures it covers the full viewport height */
  
    
    
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .dashboard {
      padding: 10px;
      
    }
  }
  
  @media (max-width: 480px) {
    .dashboard {
      padding: 5px;
    }
  }
  