.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  color: #ecf0f1;
  transition: width 0.3s ease;
  position: fixed;
  top: 40px;
  left: 0;
  padding-top: 60px;
  font-family: "Arial", sans-serif;

  &.closed {
    width: 60px;

    .text {
      display: none;
    }

    .toggle-btn {
      transform: translateX(0);
    }

    .dropdown-menu {
      a {
        font-size: 0.8rem; // Smaller font size when minimized
      }
    }
  }

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #34495e;

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    .toggle-btn {
      background: none;
      border: none;
      color: #ecf0f1;
      font-size: 1.5rem;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        color: #3498db;
      }
    }
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 15px 20px;
      transition: background-color 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #34495e;
      }

      a,
      .dropdown-btn {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #ecf0f1;
        width: 100%;
        background: none;
        border: none;
        font-size: 1rem;
        text-align: left;
        cursor: pointer;

        .icon {
          font-size: 1.5rem;
          margin-right: 10px;
        }

        .text {
          font-size: 1rem;
        }
      }
    }

    .dropdown-menu {
      list-style: none;
      padding-left: 5px;
      margin-top: 5px;

      li {
        padding: 10px 0;

        a {
          display: flex;
          align-items: center;
          color: #ecf0f1;
          text-decoration: none;

          .icon {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

// Media query for smaller screens
@media (max-width: 768px) {
  .sidebar {
    width: 60px;

    h2{
      display: none;
    }
    .text {
      display: none;
    }

    .toggle-btn {
      transform: translateX(0);
    }

    &.open {
      width: 250px;

      .text {
        display: inline;
      }

      .dropdown-menu {

        

       li{ 
        
        a {
          font-size: 1rem; 
          margin-left: 10px;
      
         
        }
       } 
      }
    }
  }
}
